<div class="main-container">
    <!-- Columna izquierda - Formulario reactivo -->
    <div class="form-section">
    <h2>Alta / Edición</h2>

    <form [formGroup]="cocheForm" (ngSubmit)="addCoche()" class="form-container">
        <label>Marca:</label>
        <input type="text" formControlName="marca" placeholder="Ej: Audi">
        <div *ngIf="cocheForm.get('marca')?.invalid && cocheForm.get('marca')?.touched"
            style="color:crimson; font-size:0.8rem;">Mínimo 2 letras</div>

        <label>Precio:</label>
        <input type="number" formControlName="precio" placeholder="Ej: 20000">
        <div *ngIf="cocheForm.get('precio')?.invalid && cocheForm.get('precio')?.touched"
            style="color:crimson; font-size:0.8rem;">Precio > 0</div>

        <label>URL Imagen:</label>
        <input type="text" formControlName="imagen" placeholder="Pegar URL">
        <div *ngIf="cocheForm.get('imagen')?.invalid && cocheForm.get('imagen')?.touched"
            style="color:crimson; font-size:0.8rem;">Imagen obligatoria</div>

        <button type="submit" [disabled]="cocheForm.invalid">
        {{ cocheSeleccionado ? 'Actualizar' : 'Agregar' }} Coche
        </button>
    </form>
</div>

    <!-- Columna derecha - Lista de coches -->
    <div class="list-section">
        <h2>Lista de Coches</h2>
        <div class="contenedor">
            <div class="tarjeta" *ngFor="let coche of listaCoches">
                <img [src]="coche.image" alt="coche" width="150" style="object-fit: cover; height: 100px;">
                
                <h3>{{ coche.marca }}</h3>
                <p [appMarcarPrecio]="coche.price">Precio: {{ coche.price }} €</p>
                <p>{{ coche.km | km }}</p>

                <div class="botones">
                    <button class="btn-edit" (click)="modificarCoche(coche)">Editar</button>
                    <button class="btn-delete" (click)="eliminarCoche(coche)">Eliminar</button>
                </div>
            </div>
        </div>
    </div>
</div>